<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="figure-img">
                <img class="img-thumbnail" src="img/Phoenicopterus_ruber_in_São_Paulo_Zoo.jpg"/>
            </div>
        </div>
        <div class="col-8">
            <div class="w-100">
                <h1 class="text-center">Prysukha Mykola</h1>
                <h2>Phone: +380661649464</h2>
                <h2>Email : kelas2003@gmail.com</h2>
                <h2>Location: Ukraine,Odessa</h2>
            </div>
            
        </div>
    </div>
</div>
