html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.HeaderButton {
    border: solid 1px #6DB5FF;
    color: #6DB5FF !important;
}
.HeaderButton {
    text-transform: uppercase;
    background: transparent;
    padding: 4px 34px;
    white-space: pre;
    user-select: none;
    text-align: center;
    border-radius: 6px;
    transition: .5s all ease;
}
    .HeaderButton:hover {
        background: #6DB5FF;
        border: solid 1px #6DB5FF;
        color: #FFFFFF !important;
    }